*{
    padding:0;
    margin:0;
    
}

.header {
    background-color: #27ae60;
    background-image: url(../images/cubes.png);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    align-items: center;
    text-align: center;
}

.logo {
    /*background-color: yellow;*/
    position: absolute;
    top: 10px;
    right: 40px;
    width: 10%;
}

.title {
    /*background-color: blue;*/
    width: 100%;
    padding: 50px 0;
    font-size: 30px;
    color: white;
    font-weight: 900;
}

.buttons_container {
    /*background-color: yellow;*/
    position:absolute;
    top:30px;
    left:40px;

    padding: 10px 20px;
    display:flex;
    justify-content:space-between;

    width:230px;
}

.buttons_container input[type=submit]{

    /*background-color:white;*/
    padding:10px 30px;

    font-size:20px;
    font-weight:600;

    border:none;
    outline:none;
    cursor:pointer;

    border-radius:5px;

    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

    transition: ease-in-out 200ms;


}
.buttons_container .home:hover{
    color: white;
    background-color: #badc58;
}
.buttons_container .exit {
    background-color: #c0392b;
    color: white;
}
.buttons_container .exit:hover{
    background-color: #e74c3c;
}

/*--------------temb code ---------------*/
.database_view{
    width: 100%;
    height: 100px;
    background-color: gray;
}
/*---------------end temp--------------------*/

/*--------------table code ---------------*/

.title_table{

    width: 100%;

}
.title_table table {
    margin: 10px auto;
    border: solid 2px;
    font-size: 20px;
}
.title_table table td{
    padding: 10px;
}

.content_table{
    width:100%;
}
.content_table table{
    margin: 10px auto;
    /*border: solid 3px red;*/
    border-collapse: collapse;
    font-size: 20px;

}
.content_table table tr {
    border: solid 2px;
}
.content_table table tr td:first-child {
    width:260px;
    border-right: solid 2px;

}
.content_table table td{
/*    border: solid 2px;*/    
    padding: 5px;
    text-align: center;
}


.table_header {
    text-align: center;
    margin: 10px auto;
    width: 500px;
    padding: 10px;
    color: white;
    background-color: #27ae60;
}
